# Django environment variables for Secure Deployment
SECRET_KEY=django-insecure-your-secret-key
DEBUG=False
ALLOWED_HOSTS=*
DATABASE_URL=mongodb+srv://<user>:<password>@cluster0.mongodb.net/ayur_online_db?retryWrites=true&w=majority
MONGO_DB_NAME=ayur_online_db
GEMINI_API_KEY=your_google_gemini_api_key
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL="Sanjeevani <your-email@example.com>"
